body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #dbe6f6, #c5796d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WeatherAppContainer {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
